{% load i18n %}
<div class="row justizgelder">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h4>
          <span class="glyphicon glyphicon-share"></span>
          {% trans "Interesting Organisation?" %}
        </h4>
        <p>{% trans "Share this donation:" %}</p>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/share?text={{ sharetext|add:" %40correctiv_org" }}&amp;url={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer.php?u={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url={{ url }}">
              <span class="glyphicon glyphicon-share"></span>
              Google+
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h4>
          <span class="glyphicon glyphicon-list-alt"></span>
          {% trans "Embed this judicial donation" %}
        </h4>
        <p>
          {% trans "Do you want to embed this donation on your website? Just copy this iFrame code:" %}
        </p>
        <textarea readonly style="width:100%" rows="4">{% spaceless %}
          <iframe frameborder="0" width="100%" height="480px" src="{{ embed_url }}"></iframe>
        {% endspaceless %}</textarea>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="thumbnail">
      <div class="caption">
        <h4>
          <span class="glyphicon glyphicon-envelope"></span>
          {% trans "Contact us!" %}
        </h4>
        <p>
          <a href="mailto:justizgelder@correctiv.org">
            <span class="glyphicon glyphicon-arrow-right"></span>
            {% trans "Send us an email" %}
          </a>
          <br/>
          <a href="https://correctiv-upload.org/" target="_blank">
            <span class="glyphicon glyphicon-arrow-right"></span>
            {% trans "Send us encrypted messages and documents" %}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
