{% extends "justizgelder/base.html" %}

{% load i18n humanize %}
{% load justizgelder_tags %}

{% block title %}{% blocktrans with name=object.name %}Recipient {{ name }}{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans with name=object.name sum=object.sum_fines %}{{ name }} received {{ sum }} Euro as donations from the judiciary.{% endblocktrans %}">

{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Organization">

<div class="page-header">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
      <h2 itemprop="name">
        {{ object.name }}
      </h2>
      <h3>
        <span class="label label-info">
          {% blocktrans with sum=object.sum_fines|intcomma %}Total sum: {{ sum}}&nbsp;€{% endblocktrans %}
        </span>
      </h3>
    </div>
  </div>
</div>

{% if not request.GET.embed %}
  <div class="row">
    <div class="col-lg-6 col-xs-6">
      <p>
        <a class="btn btn-default" href="{% url 'justizgelder:search' %}">
          <span class="glyphicon glyphicon-arrow-left"></span>
          {% trans "Back to the search" %}
        </a>
      </p>
    </div>
    <div class="col-lg-6 col-xs-6">
      <p class="text-right">
      </p>
    </div>
  </div>
{% endif %}
{% if object.note %}
  <div class="row">
    <div class="col-lg-8">
      <h3>{% trans "Notes about this organisation" %}</h3>
      <p>
        {{ object.note|linebreaks }}
      </p>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-lg-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>
            {% trans "Name of this organisation" %}
          </th>
          <th class="text-right">
            {% trans "Amount" %}
          </th>
          <th>
            {% trans "State" %}
          </th>
          <th>
            {% trans "Year" %}
          </th>
          <th>
            {% trans "Judicial district" %}
          </th>
          <th>
            {% trans "Source" %}
          </th>
          <th>
            {% trans "Details" %}
          </th>
        </tr>
      </thead>
      <tbody>
      {% with fines=object.fines.all_with_amount %}
        {% for fine in fines %}
        <tr>
          <td>
            {{ fine.name }}
          </td>
          <td class="text-right">
            {{ fine.amount|intcomma_floatformat:2 }}&nbsp;€
          </td>
          <td>{{ fine.state_label }}</td>
          <td>{{ fine.year }}</td>
          <td>{{ fine.department_label }}</td>
          <td>
            {% with source_file=fine.source_file_url %}
              {% if source_file %}
                <a href="{{ MEDIA_URL }}{{ source_file }}" target="_blank">
                  {{ fine.source_file_extension|upper }}
                </a>
              {% else %}
                {% trans "not yet available" %}
              {% endif %}
            {% endwith %}
          </td>
          <td class="text-muted">
            {% if fine.note %}
              <p>
                {% trans "Notes" as notes %}
                <a href="#" class="note" data-toggle="popover" title="{{ notes }}" data-content="{{ fine.note }}">{{ notes }}</a>
              </p>
            {% endif %}
            {% if fine.city or fine.postcode %}
              {{ fine.city }} {{ fine.postcode }}<br/>
            {% endif %}
            {% if fine.address %}
              {{ fine.address|linebreaksbr }}<br/>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endwith %}
      </tbody>
    </table>
  </div>
</div>
</div>
    {% if not request.GET.embed %}
    <hr/>
        {% url "justizgelder:search" as justizgelder_search %}

        {% with formatted_sum=object.sum_fines|intcomma escaped_name=object.name|urlencode %}
        {% captureas sharetext %}{% blocktrans with name=object.name sum=formatted_sum %}{{ name }} received {{ sum }} € from the judiciary: {% endblocktrans %}{% endcaptureas %}
        {% with sharetext=sharetext|urlencode url=SITE_URL|add:justizgelder_search|add:"?q="|add:escaped_name|urlencode %}

        {% include "justizgelder/_action_area.html" with sharetext=sharetext url=url embed_url=SITE_URL|add:object.get_absolute_url|add_embed %}

        {% endwith %}
        {% endwith %}

    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    $('.note').popover({placement: 'bottom'});
    $('.js-info-modal').click(function(e){
        if (e.ctrlKey || e.metaKey) {
            return;
        }
        e.preventDefault();
        $($(this).data('target')).modal({
          path: false
        });
    });
  </script>
{% endblock %}
