{% extends 'justizgelder/base.html' %}

{% load i18n static humanize %}
{% load justizgelder_tags %}

{% block title %}{% trans "Judiciary donations search" %}{% if query %} "{{ query }}"{% endif %}{% endblock %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "justizgelder/css/jquery.nouislider.css" %}"/>
    <link rel="stylesheet" href="{% static "justizgelder/css/justizgelder.css" %}"/>
    <style type="text/css">
    .noUi-connect {
      background: #428bca;
    }
    .noUi-horizontal .noUi-handle {
        height: 22px;
        top: -3px;
    }
    .noUi-handle:before, .noUi-handle:after {
        height: 12px;
        top: 4px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="justizgelder">
    {% facet_vars "" "getvars" %}

    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12">
            <h2>{% trans "Search for recipients" %}</h2>
            <form method="get" action="?{{ getvars }}">
                {{ form.amount_gte }}
                {{ form.amount_lte }}
                {{ form.state }}
                {{ form.year }}
                <div class="input-group">
                    {{ form.q }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-9">
            {% block object_list %}{% endblock %}
        </div>
        <div class="sidebar col-lg-3 col-md-4 col-sm-3">
            <h4>{% trans "Set range of total amount" %}</h4>
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1">
                    <div id="amount-range" class="amount-range"></div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-6">
                            <p class="text-left text-muted" id="amount_gte_label">0</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-right text-muted" id="amount_lte_label">
                                {{ aggregates.max_amount|floatformat:0 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% if aggregates.states %}
              {% with states=aggregates.states %}
                <h4>{% trans "Allocated in" %}</h4>
                <table class="table table-condensed">
                    <tr>
                        <td class="text-muted text-right" style="width:20%">
                            {{ aggregates.doc_count|intcomma }}
                        </td>
                        <td>
                            {% facet_active "state" "" as facet_is_active %}
                            {% if facet_is_active %}
                                {% trans "All" %}
                            {% else %}
                                <a href="?{% facet_vars "state" "" %}">
                                  {% trans "All" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% for facet in states|dictsort:"state" %}
                    {% if facet.doc_count %}
                        <tr>
                            <td class="text-muted text-right">
                                {{ facet.doc_count|intcomma }}
                            </td>
                            <td>
                                {% facet_active "state" facet.state as facet_is_active %}
                                {% if facet_is_active %}
                                    {% get_state_name facet.state %}
                                    <a href="?{% facet_vars "state" facet.state %}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% else %}
                                    <a href="?{% facet_vars "state" facet.state %}">
                                        {% get_state_name facet.state %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
              {% endwith %}
            {% endif %}
            {% if aggregates.years %}
              {% with years=aggregates.years %}
                <h4>{% trans "In the year" %}</h4>
                <table class="table table-condensed">
                    <tr>
                        <td class="text-muted text-right" style="width:20%">
                            {{ aggregates.doc_count|intcomma }}
                        </td>
                        <td>
                            {% facet_active "year" "" as facet_is_active %}
                            {% if facet_is_active %}
                              {% trans "All" %}
                            {% else %}
                                <a href="?{% facet_vars "year" "" %}">
                                  {% trans "All" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% for facet in years|dictsort:"year" %}
                    {% if facet.doc_count %}
                        <tr>
                            <td class="text-muted text-right">
                                {{ facet.doc_count|intcomma }}
                            </td>
                            <td class="text-left">
                                {% facet_active "year" facet.year as facet_is_active %}
                                {% if facet_is_active %}
                                    {{ facet.year }}
                                    <a href="?{% facet_vars "year" facet.year %}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% else %}
                                    <a href="?{% facet_vars "year" facet.year %}">
                                        {{ facet.year }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
              {% endwith %}
            {% endif %}
        </div>
    </div>

    <hr/>
        {% with request.get_full_path as justizgelder_search %}

        {% with formatted_sum=aggregates.total_sum|intcomma escaped_name=object.name|urlencode %}

        {% captureas sharetext %}{% blocktrans with sum=formatted_sum %}These organisations got {{ sum }} € from the judiciary: {% endblocktrans %}{% endcaptureas %}
        {% with sharetext=sharetext|urlencode url=SITE_URL|add:justizgelder_search %}
        {% include "justizgelder/_action_area.html" with sharetext=sharetext url=url embed_url=SITE_URL|add:justizgelder_search|add_embed %}

        {% endwith %}
        {% endwith %}
        {% endwith %}
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "justizgelder/js/jquery.nouislider.min.js" %}"></script>
    <script>
    (function(){
        var max_value = {{ aggregates.max_amount|floatformat:0 }} + 1000;
        if ($('#id_amount_gte').val() === '') {
            $('#id_amount_gte').val("0");
        }
        if ($('#id_amount_lte').val() === '') {
            $('#id_amount_lte').val('' + max_value);
        }
        $('#amount-range').noUiSlider({
            start: [
                parseInt($('#id_amount_gte').val(), 10),
                parseInt($('#id_amount_lte').val(), 10)
            ],
            range: {
                'min': [ 0 ],
                '0%': [ 0, 100 ],
                '20%': [ Math.min(max_value / 3, 11000), 500 ],
                '50%': [ Math.min(max_value * 2 / 3, 100000), 1000 ],
                'max': [ max_value ]
            },
            connect: true
        }).change(function(){
            var val = $(this).val();
            val[0] = Math.floor(parseInt(val[0], 10) / 1000) * 1000;
            val[1] = Math.floor(parseInt(val[1], 10) / 1000) * 1000;
            $('#id_amount_gte').val(val[0]);
            $('#id_amount_lte').val(val[1]);
            $('#id_amount_lte').parent('form').submit();
        }).on('slide', function(){
            var val = $(this).val();
            val[0] = Math.floor(parseInt(val[0], 10) / 1000);
            val[1] = Math.floor(parseInt(val[1], 10) / 1000);
            $('#amount_gte_label').text(val[0] + ' T€');
            $('#amount_lte_label').text(val[1] + ' T€');
        }).trigger('slide');
        $('.radio-inline').click(function(){
            $(this).parents('form').submit();
        });
        $('.js-info-modal').click(function(e){
            if (e.ctrlKey || e.metaKey) {
                return;
            }
            e.preventDefault();
            $($(this).data('target')).modal({
              path: false
            });
        });
    }());
    </script>
{% endblock %}
