{% extends base_template %}

{% load i18n humanize %}
{% load justizgelder_tags %}

{% block object_list %}
    <p>
      {% if query %}
        {% blocktrans with query=query hits=page_obj.paginator.count|intcomma sum=aggregates.total_sum|intcomma_floatformat:2 %}
        “<mark>{{ query }}</mark>” resulted in
        <strong>{{ hits }} hits</strong> with a total of
        <strong>{{ sum }}&nbsp;€</strong>
        {% endblocktrans %}

        {% facet_active "year" as year_facet %}
        {% facet_active "state" as state_facet %}

        {% if year_facet or state_facet %}
          <br/><small>{% trans "Filters: " %}
            {% if year_facet %}
              {{ year_facet }}
            {% endif %}
            {% if state_facet %}
              {% get_state_name state_facet %}
            {% endif %}
          </small>
        {% endif %}


      {% else %}
        {% blocktrans with hits=page_obj.paginator.count|intcomma sum=aggregates.total_sum|intcomma_floatformat:2 %}
        <strong>{{ hits }} hits</strong> with a total of
        <strong>{{ sum }}&nbsp;€</strong>
        {% endblocktrans %}
      {% endif %}
    </p>
    {% if object_list %}
        <table class="table">
          <thead>
            <tr>
              <th>
                  {% trans "Name of Organisation" %}
              </th>
              <th class="text-right">
                  {% trans "Amount" %}
              </th>
            </tr>
          </thead>
          <tbody>
        {% for result in object_list %}
            <tr>
              <td>
                  <a href="{% url 'justizgelder:organisation_detail' slug=result.slug %}">
                      {{ result.name }}
                  </a>
              </td>
              <td class="numbers" title="{% blocktrans count count=result.fine_count %}One documented entry{% plural %}{{ count }} documented entries{% endblocktrans %}">
                  {{ result.filtered_amount|intcomma_floatformat:2 }}&nbsp;€
              </td>
            </tr>
        {% endfor %}
        </table>
        {% if is_paginated %}
            {% include "pagination.html" with page_obj=page_obj getvars="&"|add:getvars %}
        {% endif %}
    {% else %}
        <p>{% trans "No results found" %}</p>
    {% endif %}
{% endblock %}
